<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

        <!-- Wheel Information-->
        <left_joint>drivewhl_l_link</left_joint>
        <right_joint>drivewhl_r_link</right_joint>

        <wheel_seperation>0.44</wheel_seperation>
        <wheel_diameter>0.24</wheel_diameter>

        <!-- Limits -->
        <max_wheel_torque>200</max_wheel_torque>
        <max_wheel_acceleration>10</max_wheel_acceleration>

        <!-- Output-->
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>

        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>

</robot>